interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pro.coinbase.com/products
  response:
    body:
      string: '[{"id":"SKL-USD","base_currency":"SKL","quote_currency":"USD","base_min_size":"5","base_max_size":"1000000","quote_increment":"0.0001","base_increment":"0.1","display_name":"SKL/USD","min_market_funds":"5.0","max_market_funds":"100000","margin_enabled":false,"fx_stablecoin":false,"max_slippage_percentage":"0.10000000","post_only":false,"limit_only":false,"cancel_only":false,"trading_disabled":false,"status":"online","status_message":""},{"id":"OXT-USD","base_currency":"OXT","quote_currency":"USD","base_min_size":"1","base_max_size":"500000","quote_increment":"0.0001","base_increment":"1","display_name":"OXT/USD","min_market_funds":"1","max_market_funds":"100000","margin_enabled":false,"fx_stablecoin":false,"max_slippage_percentage":"0.10000000","post_only":false,"limit_only":false,"cancel_only":false,"trading_disabled":false,"status":"online","status_message":""},{"id":"CHZ-USD","base_currency":"CHZ","quote_currency":"USD",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ping
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '3'
      x-mbx-used-weight-1m:
      - '3'
      x-mbx-uuid:
      - 0673b263-6601-4d6f-bdf5-8a9fe55a7c5f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?limit=1000&sort=market_cap
  response:
    body:
      string: "{\"status\":{\"timestamp\":\"2021-09-12T22:13:12.297Z\",\"error_code\":0,\"error_message\":null,\"elapsed\":103,\"credit_count\":5,\"notice\":null,\"total_count\":6549},\"data\":[{\"id\":1,\"name\":\"Bitcoin\",\"symbol\":\"BTC\",\"slug\":\"bitcoin\",\"num_market_pairs\":8833,\"date_added\":\"2013-04-28T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"sha-256\",\"store-of-value\",\"state-channels\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfolio\",\"cms-holdings-portfolio\",\"dcg-portfolio\",\"dragonfly-capital-portfolio\",\"electric-capital-portfolio\",\"fabric-ventures-portfolio\",\"framework-ventures\",\"galaxy-digital-portfolio\",\"huobi-capital\",\"alameda-research-portfolio\",\"a16z-portfolio\",\"1confirmation-portfolio\",\"winklevoss-capital\",\"usv-portfolio\",\"placeholder-ventures-portfolio\",\"pantera-capital-portfolio\",\"multicoin-capital-portfolio\",\"paradigm-xzy-screener\"],\"max_supply\":21000000,\"circulating_supply\":18814050,\"total_supply\":18814050,\"platform\":null,\"cmc_rank\":1,\"last_updated\":\"2021-09-12T22:12:02.000Z\",\"quote\":{\"USD\":{\"price\":45382.51150781103,\"volume_24h\":27941583615.191463,\"percent_change_1h\":0.58926579,\"percent_change_24h\":0.261966,\"percent_change_7d\":-12.2173353,\"percent_change_30d\":-4.57626778,\"percent_change_60d\":38.48280461,\"percent_change_90d\":12.68731777,\"market_cap\":853828840633.5321,\"market_cap_dominance\":40.8522,\"fully_diluted_market_cap\":953032741664.03,\"last_updated\":\"2021-09-12T22:12:02.000Z\"}}},{\"id\":1027,\"name\":\"Ethereum\",\"symbol\":\"ETH\",\"slug\":\"ethereum\",\"num_market_pairs\":5100,\"date_added\":\"2015-08-07T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"smart-contracts\",\"ethereum\",\"binance-smart-chain\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfo[...]
