interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ping
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '1'
      x-mbx-used-weight-1m:
      - '1'
      x-mbx-uuid:
      - 064278ea-4f32-4778-99b8-7f2ad0a8779b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ticker/price
  response:
    body:
      string: '[{"symbol":"BTCUSD","price":"46483.1300"},{"symbol":"ETHUSD","price":"3347.2600"},{"symbol":"XRPUSD","price":"0.2970"},{"symbol":"BCHUSD","price":"626.6100"},{"symbol":"LTCUSD","price":"179.4300"},{"symbol":"USDTUSD","price":"1.0003"},{"symbol":"BTCUSDT","price":"46469.84000000"},{"symbol":"ETHUSDT","price":"3345.69000000"},{"symbol":"XRPUSDT","price":"0.29691000"},{"symbol":"BCHUSDT","price":"623.24000000"},{"symbol":"LTCUSDT","price":"179.40000000"},{"symbol":"BNBUSD","price":"402.9698"},{"symbol":"BNBUSDT","price":"402.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?limit=1000&sort=market_cap
  response:
    body:
      string: "{\"status\":{\"timestamp\":\"2021-09-14T12:52:40.812Z\",\"error_code\":0,\"error_message\":null,\"elapsed\":109,\"credit_count\":5,\"notice\":null,\"total_count\":6579},\"data\":[{\"id\":1,\"name\":\"Bitcoin\",\"symbol\":\"BTC\",\"slug\":\"bitcoin\",\"num_market_pairs\":8822,\"date_added\":\"2013-04-28T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"sha-256\",\"store-of-value\",\"state-channels\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfolio\",\"cms-holdings-portfolio\",\"dcg-portfolio\",\"dragonfly-capital-portfolio\",\"electric-capital-portfolio\",\"fabric-ventures-portfolio\",\"framework-ventures\",\"galaxy-digital-portfolio\",\"huobi-capital\",\"alameda-research-portfolio\",\"a16z-portfolio\",\"1confirmation-portfolio\",\"winklevoss-capital\",\"usv-portfolio\",\"placeholder-ventures-portfolio\",\"pantera-capital-portfolio\",\"multicoin-capital-portfolio\",\"paradigm-xzy-screener\"],\"max_supply\":21000000,\"circulating_supply\":18815725,\"total_supply\":18815725,\"platform\":null,\"cmc_rank\":1,\"last_updated\":\"2021-09-14T12:52:02.000Z\",\"quote\":{\"USD\":{\"price\":46456.5715176672,\"volume_24h\":43308738892.690315,\"percent_change_1h\":1.05250296,\"percent_change_24h\":3.96302477,\"percent_change_7d\":-8.980986,\"percent_change_30d\":1.34500709,\"percent_change_60d\":48.34396588,\"percent_change_90d\":18.81990131,\"market_cap\":874114074119.2587,\"market_cap_dominance\":41.7114,\"fully_diluted_market_cap\":975588001871.01,\"last_updated\":\"2021-09-14T12:52:02.000Z\"}}},{\"id\":1027,\"name\":\"Ethereum\",\"symbol\":\"ETH\",\"slug\":\"ethereum\",\"num_market_pairs\":5101,\"date_added\":\"2015-08-07T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"smart-contracts\",\"ethereum\",\"binance-smart-chain\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/exchangeInfo
  response:
    body:
      string: '{"timezone":"UTC","serverTime":1631623961244,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":10,"limit":100},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":200000},{"rateLimitType":"RAW_REQUESTS","interval":"MINUTE","intervalNum":5,"limit":6100}],"exchangeFilters":[],"symbols":[{"symbol":"BTCUSD","status":"TRADING","baseAsset":"BTC","baseAssetPrecision":8,"quoteAsset":"USD","quotePrecision":4,"quoteAssetPrecision":4,"baseCommissionPrecision":8,"quoteCommissionPrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"quoteOrderQtyMarketAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.0100","maxPrice":"100000.0000","tickSize":"0.0100"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00000100","maxQty":"9000.00000000","stepSize":"0.00000100"},{"filterType":"MIN_NOTIONAL","minNotional":"10.0000","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MARKET_LOT_SIZE","minQty":"0.00000000","maxQty":"3200.00000000","stepSize":"0.00000000"},{"filterType":"MAX_NUM_ORDERS","maxNumOrders":200},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}],"permissions":["SPOT"]},{"symbol":"ETHUSD","status":"TRADING","baseAsset":"ETH","baseAssetPrecision":8,"quoteAsset":"USD","quotePrecision":4,"quoteAssetPrecision":4,"baseCommissionPrecision":8,"quoteCommissionPrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"quoteOrderQtyMarketAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.0100","maxPrice":"100[...]
