interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pro.coinbase.com/products
  response:
    body:
      string: '[{"id":"SKL-USD","base_currency":"SKL","quote_currency":"USD","base_min_size":"5","base_max_size":"1000000","quote_increment":"0.0001","base_increment":"0.1","display_name":"SKL/USD","min_market_funds":"5.0","max_market_funds":"100000","margin_enabled":false,"fx_stablecoin":false,"max_slippage_percentage":"0.10000000","post_only":false,"limit_only":false,"cancel_only":false,"trading_disabled":false,"status":"online","status_message":""},{"id":"OXT-USD","base_currency":"OXT","quote_currency":"USD","base_min_size":"1","base_max_size":"500000","quote_increment":"0.0001","base_increment":"1","display_name":"OXT/USD","min_market_funds":"1","max_market_funds":"100000","margin_enabled":false,"fx_stablecoin":false,"max_slippage_percentage":"0.10000000","post_only":false,"limit_only":false,"cancel_only":false,"trading_disabled":false,"status":"online","status_message":""},{"id":"CHZ-USD","base_currency":"CHZ","quote_currency":"USD",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ping
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '3'
      x-mbx-used-weight-1m:
      - '3'
      x-mbx-uuid:
      - 0673b263-6601-4d6f-bdf5-8a9fe55a7c5f
    status:
      code: 200
      message: OK
version: 1
