interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ping
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '1'
      x-mbx-used-weight-1m:
      - '1'
      x-mbx-uuid:
      - 064278ea-4f32-4778-99b8-7f2ad0a8779b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/account
  response:
    body:
      string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"canTrade":true,"canWithdraw":true,"canDeposit":true,"updateTime":1631106177415,"accountType":"SPOT","balances":[{"asset":"BTC","free":"0.00419924","locked":"0.00000000"},{"asset":"ETH","free":"0.02213000","locked":"0.00000000"},{"asset":"USD","free":"10.7411","locked":"0.0000"}],"permissions":["SPOT"]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '11'
      x-mbx-used-weight-1m:
      - '11'
      x-mbx-uuid:
      - a5972f4e-586d-47af-a997-c82063758d66
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/exchangeInfo
  response:
    body:
      string: '{"timezone":"UTC","serverTime":1631398787985,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":10,"limit":100},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":200000},{"rateLimitType":"RAW_REQUESTS","interval":"MINUTE","intervalNum":5,"limit":6100}],"exchangeFilters":[],"symbols":[{"symbol":"BTCUSD","status":"TRADING","baseAsset":"BTC","baseAssetPrecision":8,"quoteAsset":"USD","quotePrecision":4,"quoteAssetPrecision":4,"baseCommissionPrecision":8,"quoteCommissionPrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"quoteOrderQtyMarketAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.0100","maxPrice":"100000.0000","tickSize":"0.0100"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00000100","maxQty":"9000.00000000","stepSize":"0.00000100"},{"filterType":"MIN_NOTIONAL","minNotional":"10.0000","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MARKET_LOT_SIZE","minQty":"0.00000000","maxQty":"3200.00000000","stepSize":"0.00000000"},{"filterType":"MAX_NUM_ORDERS","maxNumOrders":200},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}],"permissions":["SPOT"]},{"symbol":"ETHUSD","status":"TRADING","baseAsset":"ETH","baseAssetPrecision":8,"quoteAsset":"USD","quotePrecision":4,"quoteAssetPrecision":4,"baseCommissionPrecision":8,"quoteCommissionPrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"quoteOrderQtyMarketAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.010[...]
- request:
    body: newOrderRespType=FULL&quoteOrderQty=49.7200&side=SELL&symbol=BUSDUSD&timestamp=1631398788036&type=MARKET&signature=207303081cd4d6106a3b064a64f693489f69296823ea62bcd2ed64295874096f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.binance.us/api/v3/order
  response:
    body:
      string: '{"symbol":"BUSDUSD","orderId":4629485,"orderListId":-1,"clientOrderId":"qhRuaNq5Opvoaj3BilczYP","transactTime":1631398788056,"price":"0.0000","origQty":"49.72000000","executedQty":"49.72000000","cummulativeQuoteQty":"49.7150","status":"FILLED","timeInForce":"GTC","type":"MARKET","side":"SELL","fills":[{"price":"0.9999","qty":"49.72000000","commission":"0.00009169","commissionAsset":"BNB","tradeId":1058542}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-order-count-10s:
      - '1'
      x-mbx-order-count-1d:
      - '1'
      x-mbx-used-weight:
      - '24'
      x-mbx-used-weight-1m:
      - '24'
      x-mbx-uuid:
      - 0673b263-6601-4d6f-bdf5-8a9fe55a7c5f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ticker/price
  response:
    body:
      string: '[{"symbol":"BTCUSD","price":"45227.6300"},{"symbol":"ETHUSD","price":"3276.5900"},{"symbol":"XRPUSD","price":"0.2970"},{"symbol":"BCHUSD","price":"634.8100"},{"symbol":"LTCUSD","price":"179.5100"},{"symbol":"USDTUSD","price":"1.0001"},{"symbol":"BTCUSDT","price":"45227.80000000"},{"symbol":"ETHUSDT","price":"3277.67000000"},{"symbol":"XRPUSDT","price":"0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?limit=1000&sort=market_cap
  response:
    body:
      string: "{\"status\":{\"timestamp\":\"2021-09-11T22:19:48.537Z\",\"error_code\":0,\"error_message\":null,\"elapsed\":197,\"credit_count\":5,\"notice\":null,\"total_count\":6539},\"data\":[{\"id\":1,\"name\":\"Bitcoin\",\"symbol\":\"BTC\",\"slug\":\"bitcoin\",\"num_market_pairs\":8834,\"date_added\":\"2013-04-28T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"sha-256\",\"store-of-value\",\"state-channels\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfolio\",\"cms-holdings-portfolio\",\"dcg-portfolio\",\"dragonfly-capital-portfolio\",\"electric-capital-portfolio\",\"fabric-ventures-portfolio\",\"framework-ventures\",\"galaxy-digital-portfolio\",\"huobi-capital\",\"alameda-research-portfolio\",\"a16z-portfolio\",\"1confirmation-portfolio\",\"winklevoss-capital\",\"usv-portfolio\",\"placeholder-ventures-portfolio\",\"pantera-capital-portfolio\",\"multicoin-capital-portfolio\",\"paradigm-xzy-screener\"],\"max_supply\":21000000,\"circulating_supply\":18813150,\"total_supply\":18813150,\"platform\":null,\"cmc_rank\":1,\"last_updated\":\"2021-09-11T22:19:02.000Z\",\"quote\":{\"USD\":{\"price\":45239.95834691277,\"volume_24h\":34374980862.92042,\"percent_change_1h\":-0.26699609,\"percent_change_24h\":1.2221133,\"percent_change_7d\":-9.92681226,\"percent_change_30d\":2.39693589,\"percent_change_60d\":38.85214288,\"percent_change_90d\":16.46277,\"market_cap\":851106122374.2219,\"market_cap_dominance\":41.1938,\"fully_diluted_market_cap\":950039125285.17,\"last_updated\":\"2021-09-11T22:19:02.000Z\"}}},{\"id\":1027,\"name\":\"Ethereum\",\"symbol\":\"ETH\",\"slug\":\"ethereum\",\"num_market_pairs\":5096,\"date_added\":\"2015-08-07T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"smart-contracts\",\"ethereum\",\"binance-smart-chain\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfo[...]
