interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ping
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '1'
      x-mbx-used-weight-1m:
      - '1'
      x-mbx-uuid:
      - 064278ea-4f32-4778-99b8-7f2ad0a8779b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/account
  response:
    body:
      string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"canTrade":true,"canWithdraw":true,"canDeposit":true,"updateTime":1631398788056,"accountType":"SPOT","balances":[{"asset":"BTC","free":"0.001","locked":"0.00000000"},{"asset":"ETH","free":"0.001","locked":"0.00000000"}],"permissions":["SPOT"]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '11'
      x-mbx-used-weight-1m:
      - '11'
      x-mbx-uuid:
      - 064278ea-4f32-4778-99b8-7f2ad0a8779b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?limit=1000&sort=market_cap
  response:
    body:
      string: "{\"status\":{\"timestamp\":\"2021-09-12T21:34:36.855Z\",\"error_code\":0,\"error_message\":null,\"elapsed\":92,\"credit_count\":5,\"notice\":null,\"total_count\":6547},\"data\":[{\"id\":1,\"name\":\"Bitcoin\",\"symbol\":\"BTC\",\"slug\":\"bitcoin\",\"num_market_pairs\":8833,\"date_added\":\"2013-04-28T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"sha-256\",\"store-of-value\",\"state-channels\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfolio\",\"cms-holdings-portfolio\",\"dcg-portfolio\",\"dragonfly-capital-portfolio\",\"electric-capital-portfolio\",\"fabric-ventures-portfolio\",\"framework-ventures\",\"galaxy-digital-portfolio\",\"huobi-capital\",\"alameda-research-portfolio\",\"a16z-portfolio\",\"1confirmation-portfolio\",\"winklevoss-capital\",\"usv-portfolio\",\"placeholder-ventures-portfolio\",\"pantera-capital-portfolio\",\"multicoin-capital-portfolio\",\"paradigm-xzy-screener\"],\"max_supply\":21000000,\"circulating_supply\":18813981,\"total_supply\":18813981,\"platform\":null,\"cmc_rank\":1,\"last_updated\":\"2021-09-12T21:34:02.000Z\",\"quote\":{\"USD\":{\"price\":45128.087184206604,\"volume_24h\":28047968493.216084,\"percent_change_1h\":-1.08548228,\"percent_change_24h\":-0.68218783,\"percent_change_7d\":-12.42090491,\"percent_change_30d\":-5.37021756,\"percent_change_60d\":37.30908139,\"percent_change_90d\":12.62820991,\"market_cap\":849038974850.0066,\"market_cap_dominance\":41.0516,\"fully_diluted_market_cap\":947689830868.34,\"last_updated\":\"2021-09-12T21:34:02.000Z\"}}},{\"id\":1027,\"name\":\"Ethereum\",\"symbol\":\"ETH\",\"slug\":\"ethereum\",\"num_market_pairs\":5100,\"date_added\":\"2015-08-07T00:00:00.000Z\",\"tags\":[\"mineable\",\"pow\",\"smart-contracts\",\"ethereum\",\"binance-smart-chain\",\"coinbase-ventures-portfolio\",\"three-arrows-capital-portfolio\",\"polychain-capital-portfolio\",\"binance-labs-portfolio\",\"arrington-xrp-capital\",\"blockchain-capital-portfolio\",\"boostvc-portfo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/exchangeInfo
  response:
    body:
      string: '{"timezone":"UTC","serverTime":1631482477773,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":10,"limit":100},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":200000},{"rateLimitType":"RAW_REQUESTS","interval":"MINUTE","intervalNum":5,"limit":6100}],"exchangeFilters":[],"symbols":[{"symbol":"BTCUSD","status":"TRADING","baseAsset":"BTC","baseAssetPrecision":8,"quoteAsset":"USD","quotePrecision":4,"quoteAssetPrecision":4,"baseCommissionPrecision":8,"quoteCommissionPrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"quoteOrderQtyMarketAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.0100","maxPrice":"100000.0000","tickSize":"0.0100"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00000100","maxQty":"9000.00000000","stepSize":"0.00000100"},{"filterType":"MIN_NOTIONAL","minNotional":"10.0000","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MARKET_LOT_SIZE","minQty":"0.00000000","maxQty":"3200.00000000","stepSize":"0.00000000"},{"filterType":"MAX_NUM_ORDERS","maxNumOrders":200},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}],"permissions":["SPOT"]},{"symbol":"ETHUSD","status":"TRADING","baseAsset":"ETH","baseAssetPrecision":8,"quoteAsset":"USD","quotePrecision":4,"quoteAssetPrecision":4,"baseCommissionPrecision":8,"quoteCommissionPrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"quoteOrderQtyMarketAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.010[...]
