interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/ping
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '1'
      x-mbx-used-weight-1m:
      - '1'
      x-mbx-uuid:
      - 064278ea-4f32-4778-99b8-7f2ad0a8779b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.us/api/v3/account
  response:
    body:
      string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"canTrade":true,"canWithdraw":true,"canDeposit":true,"updateTime":1631398788056,"accountType":"SPOT","balances":[{"asset":"BTC","free":"0.00419924","locked":"0.00000000"},{"asset":"ETH","free":"0.02213000","locked":"0.00000000"},{"asset":"USD","free":"60.4561","locked":"0.0000"},{"asset":"XRP","free":"0.00000000","locked":"0.00000000"},{"asset":"USDT","free":"0.00000000","locked":"0.00000000"},{"asset":"BCH","free":"0.01574000","locked":"0.00000000"},{"asset":"LTC","free":"0.00000000","locked":"0.00000000"},{"asset":"ADA","free":"1.80000000","locked":"0.00000000"}],"permissions":["SPOT"]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '11'
      x-mbx-used-weight-1m:
      - '11'
      x-mbx-uuid:
      - 064278ea-4f32-4778-99b8-7f2ad0a8779b
    status:
      code: 200
      message: OK
version: 1
